<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="writeAction1" class="model1.WriteAction" />
	<bean id="to" class="model1.BoardTO" />
	<bean id="writeAction2" class="model1.WriteAction">
		<constructor-arg>
			<ref bean="to" />
		</constructor-arg>
		<constructor-arg value="이름"/>
	</bean>

</beans>
