<?xml version= "1.0" encoding ="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<environments default="mariadb"> <!-- 여러값중에 기본값은 id mariadb 라는뜻 -->
		<environment id="mariadb">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED"> <!-- 풀링(myBatis 커넥션풀 방식) -->
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/project"/>
				<property name="username" value="project"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
		<environment id="mariadb2">		<!-- 컨텍스트.xml에서 가져오는 옵션( 외부 환경 옵션(톰캣 커넥션 풀)을 사용하겠다는 의미) -->
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI"> <!-- Java Naming and Directory Interface : 일종의 서비스 네이밍 만으로 서버자원 활용 기능 -->
				<property name="data_source" value="java:comp/env/jdbc/mariadb"/> <!-- 컨텍스트.xml 경로 -->
			</dataSource>
		</environment>
	</environments>
	
</configuration>