<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8"/>     
        <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    </head>    
    <body>
        Let's GUGUDAN!
        <form action="/gugudan" method="GET">
            gugudan 
            <input type="text" name="startDan"/>
            &nbsp; ~
            <input type="text" name="endDan"/>
            <input type="submit" value="done"/>            
        </form>
    </body>
</html>